/* About section */
#about__page{
    width: 100%;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#about__page h2{
    font-size: 3rem;
    color: var(--voilet);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 0.08rem dashed var(--ebony);
}
.abt{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.second__abt, .fourth__abt{
    display: flex;
    flex-direction: row-reverse;
}

.abt__content{
    width: 40%;
    display: flex;
    align-self: center;
    flex-direction: column;
}
.abt h3{
    font-size: 3.5rem;
    color: var(--regular-head);
    text-align: left;
    font-weight: 700;
}
.abt p{
    font-size: 1.5rem;
    color: var(--text);
    font-family: var(--monserrate);
    text-align: justify;
}
.second__abt p, .second__abt h3, .fourth__abt p, .fourth__abt h3{
    text-align: right;
}
.abt__vector{
    width: 50%;
    display: flex;
    justify-content: center;
}
.abt__vector img{
    width: 250px;
    height: 90%;
}
