/* navigation-head */
nav{
    position: sticky;
    top: 0;
    background-color: var(--yelow-white) !important;
    z-index: 20;
}
.nav__container{
    background:  transparent;
    width: 100%;
    display: flex;
    height: 6rem;
    justify-content: space-between;
    align-items: flex-end;
    color: var(--voilet);
    padding: 0rem 1rem;
}
.nav__container h2{
    font-size: 2.5rem;
    font-weight: bold;
}
.nav__menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    width: 70%;
}
.nav__menu li{
    list-style : none;
    padding: 0rem 0.4rem;
    margin-left: 1rem;
}
.nav__menu a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: regular;
    position: relative;
    color: currentColor;
}

.nav__menu a::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 0.15rem;
    border-radius: 2.5rem;
}

.bg__change{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.checkbox{
    opacity: 0;
    width: 5rem;
    height: 2.5rem;
    position: absolute;
    z-index: 1;
}
.checkbox__label{
    background: black;
    width: 4.9rem;
    height: 2.4rem;
    border-radius: 4.8rem;
    padding: 2.5px 3px 2.5px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.fa-sun, .fa-moon{
    color: gold;
    font-size: 1.8rem;
}
.checkbox__label .check__ball{
    background-color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    transition: transform .2s linear;
}

.checkbox:checked + .checkbox__label .check__ball{
    transform: translateX(2.6rem);
}
#open-menu-btn, #close-menu-btn{
    display: none;
}
