*{
    box-sizing: border-box;
    margin: 0;
}
body{
    width: 100%;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #F4EBD0;
}
.first{
    width: 100%;
    height: 10vh;
    background-color:#D6AD60;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
}
.nav-bar{
    width: 100%;
    height: auto;
}
.nav-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    list-style: none;
    background-color: #122620;
    color: #F4EBD0;
}
.nav-bar li{
    cursor: pointer;
    padding: 2px;
}
.nav-bar li:hover{
    border: 3px solid #F4EBD0;
    border-radius: 2%;
    border-top: 0px; border-bottom: 0px;
    background-color: #D6AD60;
    color: #122620;
    font-weight: bold;
}
.nav-bar a{
    text-decoration: none;
    color: #F4EBD0;
}
.head{
    width: 100%;    
    padding: 0rem 1rem 0rem 0rem ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self:flex-end;
}
.head h1::after{
    color: #F4EBD0;
animation: changes 4s ease-in-out infinite  forwards;
content: " Actual Page";
}
@keyframes changes {
    0%{
        content: " Folio Page";
    }50%{
        content: " Student Office";
    }100%{
        content: " Personal Profile";
    }
}
.second{
    padding-top: 15vh;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.pic{
    padding: 1em 0em 1em 0em;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    justify-content: space-around;
    background-color: #122620;
}

.pic img{
    border-radius: 50%;
    width: 50%;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.mylist{
    background-color: #F4EBD0;
    border-radius: 3%;
    box-shadow: -3px -29px 61px -2px rgba(0,0,0,0.85) inset;
-webkit-box-shadow: -3px -29px 61px -2px rgba(0,0,0,0.85) inset;
-moz-box-shadow: -3px -29px 61px -2px rgba(0,0,0,0.85) inset;
}
.mylist ul{
    font-family: 'Roboto', sans-serif;
    padding-top: 1em;
    width: 60%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.third{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.cad-contain{
    width: 100%;
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cad1 p, .cad2 p, .cad3 p{
    cursor: pointer;
    max-width: 400px;
    min-height: 220px;
    padding: 3px;
    border: 1px solid #D6AD60;
    border-radius: 3%;
    box-shadow: -9px -3px 26px -5px rgba(0,0,0,0.81);
-webkit-box-shadow: -9px -3px 26px -5px rgba(0,0,0,0.81);
-moz-box-shadow: -9px -3px 26px -5px rgba(0,0,0,0.81);
}
.wave{
    margin-top: 0.5em;
    width: 100%;
    height: 40px;
    background-color: #122620;
    animation: wavy 2s linear  infinite ;
}
.wave p{
    text-align: center;
    color: #D6AD60;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@keyframes wavy {
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateY(20%);
    }
    40%{
        transform: translateX(0);
    }
    50%{
        transform: translateY(60%);
    }
    100%{
        transform: translateX(0%);
    }
    
}
.project{
    margin-top: 5vh;
    display: flex;
    font-display: row;
    width: 100%;
    justify-content: space-around;
}
.p1{
font-size: x-large;
font-family: cursive;
cursor: pointer;
border: 2px solid #122620;
padding: 1em;
}
.p1:hover::after{
    animation: move 0.5s ease-in-out 0.5s 2 alternate forwards;
    content: "my Project";
}
@keyframes move {
    0%{
        height: fit-content;
        background-color: #122620;
        border-radius: 13%;
        color: #ffffff;
    }20%{
        height: fit-content;
        background-color: #1c1e1d;
        border-radius: 10%;
        color: #ffffff;
    }40%{
        height: fit-content;
        background-color: #188161;
        border-radius: 50%;
        color: #ffffff;
    }60%{
        height: fit-content;
        background-color: #3a9423;
        border-radius: 15%;
        color: #ffffff;
    }70%{
        height: fit-content;
        background-color: #52a422;
        border-radius: 24%;
        color: #ffffff;
    }80%{
        height: fit-content;
        background-color: #0f0557;
        border-radius: 30%;
        color: #ffffff;
    }100%{
        height: fit-content;
        background-color: #160c0c;
        border-radius: 15%;
        color: #ffffff;
    }
}
.footer{
    width: 100%;
    height: 10vh;
    background-color: #B68D40;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
   
}
.handles span{
    color: #ffffff;
    cursor: pointer;
}
.handles span:hover{
color:#122620;
}
.f1{
margin: 1px auto;
width: fit-content;
font-family: 'Roboto', sans-serif;
padding: 2px;
font-weight: bolder;
background-color: #B68D40;
color: #ffffff;
 position: fixed;
    bottom: 0; 
    left: 0; 
    right: 0; 
}
/* css for contact page */

