@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&family=Lato&family=Montserrat:wght@371&family=Open+Sans:wdth,wght@79.2,686&family=Playfair+Display:wght@500&family=Roboto:wght@900&display=swap');

/*   
font-family: 'Bitter', serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */

* {
      box-sizing: border-box;
      margin: 0;
      font-family: var(--OpenSans);
  }
::-webkit-scrollbar{
    display: none;
}
  :root {
      --head-color: #21262d;
      --nav-color:#dec6cb;
      --dark: #0d1117;
      --pic-bg:#161b22;
      --list-bg:#21262d;
      --wave-bg:#161b22;
      --wave-color:#f5f5f5;
      --nav-after:#58a6ff;
      --borders:#30363d;
      --handles:#30363d;
      --Roboto: font-family: 'Roboto', sans-serif;
      --lato: font-family: 'Lato', sans-serif;
      --OpenSans: font-family: 'Open Sans', sans-serif;
      --playfair: font-family: 'Playfair Display', serif;
      --montserrat:'Montserrat', sans-serif;
      --bitter:'Bitter', serif;
      --second-color: #dabd34;
  }


  .light {
      /* --dark: #decba5; */
      --dark: #c5c8cc;
      --head-color:#502b39;
      --nav-color:#c9b6b9;
      --list-background: #000000de;
      --list-bg:#21262d;
      --pic-bg:#161b22;
      --wave-bg:#161b22;
      --nav-after:rgb(238, 209, 24);
      --borders:#f9f8f0;
      --handles:#502b39;
  }
  .body{
    background-color: #0f2a45;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  .container {
      background: var(--dark);
      flex-direction: column;
      justify-content: space-between;
  }

  .first {
      width: 100%;
      height: max-content;
      position: sticky;
      top: 0;
      z-index: 255575;
  }
  .menu{
    display: none;
  }
  .head {
      width: 100%;
      background-color: var(--head-color);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .backgroundChange{
      cursor: pointer;
      margin-right: 5px;
      color: white;
    }
    .h1-manager{
    width: 35%;
    }
  .head h1 {
      padding: 0.1rem;
      color: var(--wave-color);
      font-size: 35px;
      font-family: var(--Roboto);
      text-align: center;
      border-right: none;
       text-shadow: 1px 1px 1.3px;

  }

  .head h1::after {
      content: "Personal Profile";
      color: var(--nav-after);
      font-family: var(--Roboto);
      animation: changes 4s ease-in-out infinite forwards;
      -webkit-animation:changes 4s ease-in-out infinite forwards ;
      -moz-animation: changes 4s ease-in-out infinite forwards;
      -o-animation:changes 4s ease-in-out infinite forwards;
  }

  @keyframes changes {
      0% {
          content: " Folio Page";

      }

      50% {
          content: " Student Office";

      }

      100% {
          content: " Personal Profile";

      }
  }
  .head-nav{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    align-self: center;
    margin: auto;
  }

  .head-nav a{
    text-decoration: none;
    color: var(--nav-color);
    font-size: large;
    font-family: var(--montserrat);
    font-weight: 400;
    padding: 0px 0.5rem 0px 0.5rem;
    transition: all .4s ease;
  }
  .head-nav a:hover {
    padding: 0px 0.7rem 3px 0.7rem;
    border: 2.5px dotted #dadddf;
    font-family: var(--playfair);
    color: var(--nav-after);
    font-style: italic;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    }

  .about{
      width: 100%;
      height: 80dvh;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      gap: 0.2em;
  }

  .pic {
      border-radius: 50%;
      border-top-left-radius: 30%;
      margin: 1px auto;
      flex-direction: row;
      width: fit-content;
      background-color: var(--head-color);
      position: relative;
      animation: bounce 0.7s ease-in-out infinite alternate;
      -webkit-animation: bounce 0.7s ease-in-out infinite alternate;
      -moz-animation: bounce 0.7s ease-in-out infinite alternate;
      -o-animation: bounce 0.7s ease-in-out infinite alternate;
  }

  @keyframes bounce {
      0% {
          top: -12px;

      }

      25% {
          top: -10px;

      }

      50% {
          top: -8px;
      }

      75% {
          top: -6px;
      }

      100% {
          top: -4px;
      }
  }

  .pic img {
      border: 4px solid #30363d;
      border-radius: 50%;
      min-width: 0.5rem;
      width: 300px;
      height: 100%;
      object-fit: contain;
  }

  .mylist {
      width: 60%;
      margin: auto;
      background: var(--head-color);
      border: 2px solid var(--borders);
      position: relative;
      border-radius: 0.3rem;
  }
  .mylist div{
    width: 30px;
    height: 30px;   
    background: var(--dark);
    position: absolute;
    top: -5px;
    left: -5px;
    border-bottom-right-radius: 100%;
  }
  .mylist .sec{
    width: 30px;
    height: 30px;   
    background: rgb(182, 53, 24);
    position: absolute;
    top: -8px;
    left: -8px;
    border-bottom-right-radius: 100%;
  }
  .mylist a {
      color: #ffffff;
      text-decoration: none;
      font-weight: bold;
  }
  #about-text {
    width: 90%;
    text-align: justify;
    margin: auto;
    line-height: 2.5rem;
    color: #f5f5f5;
    font-family: var(--lato);
    font-weight: 350;
    text-shadow: 1px 1px 1.1px;
  }
  .third {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
  }

  .cad-contain {
      width: 100%;
      padding-top: 1em;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  .card img {
      max-height: 300px;
      border: 3px solid #30363d;
      border-radius: 0.3em;
  }

  .card-body {
      background-color: #dce1e7;
  }

  .wave {
      margin-top: 0.5em;
      width: 100%;
      height: auto;
      border-radius: 0.8em;
      background-color: var(--head-color);
      animation: wavy 2s linear infinite;
  }

  .wave p {
      text-align: center;
      color: var(--wave-color);
      font-family: var(--fourth-font);
  }

  @keyframes wavy {
      0% {
          transform: translateX(0);
      }

      20% {
          transform: translateY(20%);
      }

      40% {
          transform: translateX(0);
      }

      50% {
          transform: translateY(60%);
      }

      100% {
          transform: translateX(0%);
      }

  }

  .project {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: auto;
      justify-content: space-around;
  }

  .p1 {
      font-size: x-large;
      font-family: cursive;
      cursor: pointer;
      border: 2px solid #727876;
      border-radius: 1em;
      padding: 0.5em;
      text-decoration: none;
      color: var(--nav-after);
      background-color: var(--borders);
      transition: all .5s ease;
  }
  .p1:hover{
    background-color: rgb(233, 225, 225);
  }
  .connects {
      display: flex;
      flex-direction: row;
      align-self: center;
      justify-content: space-around;
      margin-top: 1em;
      width: 100%;
      height: auto;
  }


  .fa-twitter,
  .fa-instagram,
  .fa-github,
  .fa-linkedin {
      color: var(--handles);
      transition: all .3s ease-in;
  }

  .fa-twitter:hover,
  .fa-instagram:hover,
  .fa-github:hover,
  .fa-linkedin:hover {
    transform: scale(1.2);
    color: #fff;

  }

  .footer {
      width: 100%;
      height: auto;
      background-color: var(--head-color);
      display: flex;
      border-top-right-radius: 3em;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
  }

  .fo-actual {
      width: 100%;
      display: flex;
      flex-direction: row;

  }

  .handles {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }

  .social {
      font-size: large;
      display: flex;
      justify-content: space-around;
      width: 70%;
  }

  .own {
      width: fit-content;
      font-family: var(--last-font);
      display: flex;
      align-items: center;
      margin: 1px auto;
      color: var(--wave-color);
  }

  .ack {
      border: 2px solid var(--borders);
      border-left: 0;
      border-bottom: 0;
      border-top: 0;
      width: 50%;
      max-height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      padding: 0px 5px 0px 5px;
  }

  .reco {
      width: 50%;
      max-height: auto;
      padding: 0px 5px 0px 5px;
  }

  .fo-actual p {
      text-align: justify;
      line-height: 22px;
      font-family: var(--first-font);
      color: var(--wave-color);
  }

  .fo-actual b {
      color: var(--nav-after);
  }

  .fo-actual h4 {
      width: 100%;
      text-align: center;
      font-family: var(--second-font);
      text-decoration: none;
      color: var(--nav-after);
  }

  .fo-actual a {
      text-decoration: none;
      font-style: italic;
      color: var(--nav-after);
  }

  .fo-actual li {
      list-style-type: square;
      color: var(--borders);
  }

  .form {
      width: 60%;
      min-height: 75vh;
      margin: 1px auto;
      border-radius: 10px;
      display: flex;
      padding: 8px 0px 2px 0px;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: var(--nav-after);
      box-shadow: 30px 2px 50px 20px rgba(216, 215, 212, 0.4);
      -webkit-box-shadow: 30px 2px 90px -20px rgba(233, 238, 233, 0.47);
      -moz-box-shadow: 30px 2px 90px -20px rgba(169, 194, 186, 0.6);
    }

  .n,
  .mess,
  .breif {
      width: 60%;
      min-height: 35px;
      border-radius: 3px;
      padding-left: 5px;
      outline: 2px solid var(--nav-color);
      resize: none;
      box-shadow: 1px 3px 1.5px 2.5px;
      border: 1.5px dashed var(--nav-after);
      font-family: var(--OpenSans);
      transition: all .3s ease-in;
  }
  .form input:not(:placeholder-shown),.form textarea:not(:placeholder-shown){
    border: 3.5px dashed var(--nav-after);
  }

  .breif, .mess {
      max-height: 125px;
  } 

  .send {
      cursor: pointer;
      border: 1.2px solid #122620;
      border-radius: 4px;
      background-color: #F4EBD0;
      color: #122620;
      font-family: var(--lato);
      font-weight: bold;
      transition: all .4s ease;
  }
.send:hover{
    transform: scale(1.1);
    background-color: #0f2a45;
    color: white;
}
  .space {
      width: 100%;
      height: 4em;
  }

  .small-space {
      width: 100%;
      height: 2em;
  }

  /* responsiveness*/

  @media screen and (max-width: 426px) {
    .head-nav{
     display: none;
      }
      .menu{
        display: inline;
        border: 1px solid;
        outline: none;
        background-color: transparent;
        color: white;
      }
      .about{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.2em;
    }
    .h1-manager{
        width: 60%;
     }
     .mylist {
        width: 100%;
        margin: auto;
        background: var(--head-color);
        border: 2px solid var(--borders);
        position: relative;
        border-radius: 0.3rem;
    }
    .head h1 {
        padding: 0;
        color: var(--wave-color);
        font-size: 18px;
        font-family: var(--Roboto);
        text-align: left;
        border-right: none;
         text-shadow: 1px 1px 1.3px;
  
    }
    .show-nav{
        padding: 3px 0px;
        margin-right: -15px;
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        
      }
    
      .show-nav a{
        text-decoration: none;
        color: var(--nav-color);
        font-size: large;
        font-family: var(--montserrat);
        font-weight: 400;
        padding: 0px 0.5rem 0px 0.5rem;
        transition: all .4s ease;
      }
      .show-nav a:hover{
        padding: 0px 0.7rem 3px 0.7rem;
        font-family: var(--playfair);
        color: var(--nav-after);
        font-style: italic;
        border: none;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        }
    .hide-backChange, .hide-logo{
        display: none;
    }
    #about-text {
        width: 90%;
        text-align: justify;
        margin: auto;
        line-height: 1.5rem;
        font-size: 14px;
        color: #f5f5f5;
        font-family: var(--lato);
        font-weight: 200;
        text-shadow: 0px 0px 0.5px;
      }
    .form{
        width: 80%;
    }
    .n,
    .mess,
    .breif {
        width: 80%;
    }
     #showroom{
        display: none;
     }
     .footer{
        display: none;
     }

  }